@import "~antd/dist/antd.css";
/* 
general 
-------
*/
body {
	background-color: rgb(211, 222, 246);
}

/* 
cards
------
*/
.room-list {
	padding: 2%;
}

#user-list {
	height: 100vh;
	background-color: white;
}

div.ant-card {
	border-radius: 8px;
	background-color: white;
	padding: 8px;
	margin: 12px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

div.ant-card-head {
	margin: 0;
	padding: 0 8px;
}

div.ant-card-head-title {
	margin: 4px;
	padding: 4px;
	font-size: 24px;
}

div.ant-card-body {
	padding: 12px 16px;
}

li.ant-list-item {
	padding: 4%;
}
#room-list h4.ant-list-item-meta-title {
	font-size: 24px;
}

h4.ant-list-item-meta-title {
	font-size: 1px;
	margin: 0;
}

div.ant-col.ant-form-item-label label {
	font-size: 18px;
}

div.ant-row.ant-form-item {
	margin-bottom: 32px;
}

div.ant-col.ant-form-item-label {
	padding: 0;
	margin-bottom: 4px;
}

.block-picker {
	box-shadow: none !important;
}

.color-col {
	width: 100%;
	padding: 4px 16px;
}

.color-col div {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

div#rc-tabs-0-tab-1,
div#rc-tabs-0-tab-2 {
	font-size: 24px;
}

.signup-form span.ant-input-affix-wrapper,
.login-form span.ant-input-affix-wrapper {
	height: 64px;
	border-radius: 4px;
}

.signup-form button.ant-btn-primary,
.login-form button.ant-btn-primary {
	height: 64px;
	border-radius: 4px;
	font-size: 24px;
}

div.ant-card-extra {
	margin: 0;
	padding: 0;
}

div.ant-card-header-wrapper {
	padding: 0 12px;
	margin: 0;
}

div.ant-card-body {
	padding: 0 12px;
	margin: 0;
}

div.ant-card-meta {
	margin-bottom: 16px;
}

div.ant-card-meta-description {
	font-size: 14px;
}

div.ant-card-head {
	border: none;
}

span.ant-avatar-string {
	width: 32px;
	height: 32px;
	object-fit: fill;
}

.ant-avatar-circle {
	border: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

v-animal-image {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	object-fit: cover;
}
