@import "~antd/dist/antd.css";
/* 
general 
-------
*/
body {
	background-color: rgb(211, 222, 246);
 
  
}

/* 
cards
------
*/
.room-list {
	padding: 2%;
}

#user-list {
	height: 100vh;
	background-color: white;	
}
.ant-list-item:hover {
	background-color: rgb(224, 227, 233);
}

div.ant-card {
	border-radius: 8px;
	background-color: white;
	padding: 8px;
	margin: 12px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

div.ant-card-head {
	margin: 0;
	padding: 0 8px;
}

div.ant-card-head-title {
	margin: 4px;
	padding: 4px;
	font-size: 24px;
}

div.ant-card-body {
	padding: 12px 16px;
}

li.ant-list-item {
	padding: 4%;
}
#room-list h4.ant-list-item-meta-title {
	font-size: 24px;
}

h4.ant-list-item-meta-title {
	font-size: 1px;
	margin: 0;
}

/* div.ant-col.ant-form-item-label label {
	font-size: 18px;
} */

div.ant-row.ant-form-item {
	margin-bottom: 32px;
}

/* div.ant-col.ant-form-item-label {
	padding: 0;
	margin-bottom: 4px;
} */

.block-picker {
	box-shadow: none !important;
}

.color-col {
	width: 100%;
	padding: 4px 16px;
}

.color-col div {
	text-align: center;
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

.filterTags {
	cursor: pointer;
}

div.ant-card-head {
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}

div.ant-card-body {
	padding-top: 0;
	margin-top: 0;
}

div.ant-card-meta-description {
	padding-bottom: 8px;
}

.msg-container p,
.msg-container ul,
.msg-container ol {
	color: white;
	padding: 12px;
	margin: 0;
	font-size: 14px;
	line-height: 1.2rem;
}

.msg-container h2 {
	color: white;
	padding: 16px;
	margin: 0;
	font-size: 14px;
	line-height: 1.2rem;
}

.msg-container h3 {
	color: white;
	padding: 24px;
	margin: 0;
	font-size: 14px;
	line-height: 1.2rem;
}

.friend-msg-content {
	background-color: rgb(56, 37, 231);
	border-radius: 0 16px 16px 16px;
	margin: 0;
	font-size: 14px;
	line-height: 1.2rem;
}

.msg-container {
	margin-bottom: 8px;
}

.my-msg-content {
	font-size: 14px;
	line-height: 1.2rem;
	color: white;
	background-color: rgb(189, 39, 126);
	padding: 12px;
	border-radius: 16px 0 16px 16px;
	margin: 0;
}

.msg-column {
	max-width: 50%;
}

.chat-metadata {
	display: flex;
	margin: 0;
	padding: 0;
	color: gray;
	font-size: 12px;
	line-height: 1.4rem;
}

.flex-end {
	justify-content: flex-end;
}
.ant-avatar {
	margin: 4px 8px;
}

.editor-wrapper {
	max-height: 200px;
}

.ant-layout-content {
	overflow-y: scroll;
}

.chat-container {
	background-color: white;
	margin: 4%;
	
}

div.ant-comment-inner {
	padding: 0;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

div.text-editor {
	margin: 0;
	padding: 0;
}

header.ant-layout-header,
.ant-menu {
	background-color: #15293c;
}
