

.chatBox{
    width:300px;
    background-color: #fff;
    height:350px;
    position: absolute;
    right:80px;
    bottom: 48px;
    border-radius: 5px;
    padding:10px;
}
.message-badge{
    position: absolute;
    right:40px;
    bottom: 20px;
    font-size: 40px;
    transform: rotate(-1deg);
    color:#474787;
}
.message-icon{
    transform: scaleX(-1);
    
}
.newChat{
    position: absolute;
    right:20%;
    bottom: 5px; 
    width:200px;
    background-color: #fff;
    height:400px; 
}
.chatInput{
    position: absolute;
    bottom:0;
    display: flex;
    
}
.chat{
    width:287px;
    margin-left:-6px;
    border:none;
  
}
.chatBox{
    /* background-color: #eaeaf4; */
    background-color: #F2F3F5;
}
.ant-btn-primary{
    color:#fff;
    background-color: #474787;

}
.ant-btn-primary:hover{
    background-color: #434379;   
}

/*--------Chat-----------*/
